body{
	overflow-x: hidden;
}

@media only screen and (max-width: 480px) {
	.postagens{
		width: 100% !important;
	}

	header #logo{
		display: none;
	}

	.publicar{
		width: 100% !important;
	}

	.buscar{
		display: none;
	}

	#down{
		display: none;
	}

	.main{
		width: 100% !important;
	}

	#alinhar-h{
		width: 100% !important;
	}
	.help{
		display: none !important;
	}

	.ajuda{
		display: none !important;
	}

	.ava-t-sde{
		display: none;
	}

	#down{
		display: none !important;
	}

	#bottomphone{
		display: block;
	}

	#open55{
		display: none;
	}

	#leftbar{
		display: none;
	}

}

@media only screen and (max-width: 1024px) {
	header #logo{
		display: none;
	}

	#menu{
		top: 50px;
	}

	.postagens{
		width: 98%;
	}

	.buscar{
		width: 180px;
	}

	#newsdiv{
		top: 50px;
	}
}

@media only screen and (max-width: 1200px) {
		#header #logo{
			display: none;
		}

		#down{
		top: 40px;
	}

	#menu{
		top: 50px;
	}


	.buscar{
		width: 180px;
	}

	}

	@media only screen and (max-width: 1100px) {

	#header #logo{
			display: none;
		}

	#down{
		display: block;
	}

	#menu{
		top: 50px;
	}


	.buscar{
		width: 310px;
		float: left;
		left: 300px;
	}

	#news{
		float: right;
		position: absolute;
		right: 0px;
	}

	#alinhar-h{
		width: 100% !important;
	}

	#box-s-h{
		top: 36px;
		left: 20px;
	}

	.buscaright{
		width: 310px;
	}

	#newsdiv{
		top: 49px;
	}

	#open55{
		display: none;
	}

	#leftbar{
		display: none;
	}

	.profile-cap{
		display: block;
		opacity: 0;
	}

	.ajuda{
		display: none;
	}

	.publicar{
		width: 100%;
	}

	.postagens{
		width: 100%;
	}

	}

	@media only screen and (max-width: 1300px) {
		#header #logo{
			display: none;
		}

		#menu{
		top: 50px;
	}

		#down{
		top: 40px;
		}

		#newsdiv{
			top: 50px;
		}

		.track3{
			right: -137px;
		}

		.track4{
			right: -165px;
		}

	}