@import "core.css";

/**
 * Background List
 * Multimidea(Ofuscado) - https://static.tumblr.com/b87b7e816e087347fc9202d2904783d9/f4y2en1/xREo1d8el/tumblr_static_tumblr_static_2lfwqc6stri8ssws8wc4w88s4_640.png
 * Geometric Forms - https://secure.static.tumblr.com/w8ezvc2/hPkn0wdzp/themes_illustration_minimalist.png
 * MiniGhosts - http://www.themesltd.com/headers2/cute_little_ghosts.png
 */

.apresentation {
  background: url(https://static.tumblr.com/b87b7e816e087347fc9202d2904783d9/f4y2en1/xREo1d8el/tumblr_static_tumblr_static_2lfwqc6stri8ssws8wc4w88s4_640.png) fixed center center;
  background-size: cover;
  text-align: center;
}

.apresentation h1 {
  color: #2C3E50;
  padding: 2.5em 20px 0;
  text-shadow: 0 0 50px rgba(0, 0, 0, .5);
}
