*{
	font-family: 'Ubuntu', sans-serif;
	outline: none;
    list-style:none;
    margin: 0px auto;
}

a{
	text-decoration: none;
	color: #459bd9;
}

::-webkit-scrollbar-track {
    background-color: #000;
}
::-webkit-scrollbar {
    width: 5px;
    height: 9px;
    background: #000;
}
::-webkit-scrollbar-thumb {
    background: #459bd9;
    border-radius: 40px;
}


body{
	background: #fff !important;
}

header{
	background: #459bd9;
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	height: 50px;
	z-index: 50000;
	border-bottom: 1px solid rgba(0,0,0,0.25);
}

header #logo{
	color: #fff;
	font-size: 1.6em;
	position: relative;
	top: 10px;
	width: 100px;
	float: left;
	width: 200px;
}

 #logot{
 	position: relative;
 	color: #459bd9;
 	font-size: 4.9em;
 	text-align: center;
 	z-index: 40;
 	top: 140px;
 	text-shadow: 1px 1px 1px rgba(0,0,0,.30);
 }

#alinhar-h{
	width: 60%;
	margin: 0px auto;
	position: relative;
	background: transparent;
	transition: 1s;
}

.apresentation{
	width: 100%;
	height: 430px;
	position: relative;
	background-size: cover;
	background-image: url(/img/back.jpg);
	padding-bottom: 20px;
}

.naruto{
	position: relative;
	width: 120px;
	top: 200px;
}

.piece{
	position: relative;
	width: 120px;
	top: 200px;
	float: right;
}

.boku{
	position: relative;
	width: 120px;
	top: 200px;
}

.btn{
	background: #459bd9;
    border-radius: 5px;
    width: 162px;
    padding: 10px 0px;
}

.btn span{
	color: #fff;
	font-size: 1.7em;
	position: relative;
	top: 0px;
}

.btn-s{
	background: #165582;
	box-shadow: 0 4px 8px 0 rgb(22, 85, 130);
	border-radius: 5px;
	width: 162px;
	height: 61px;
	position: relative;
	top: 200px;
	display: inline-block;
	margin-left: 10px;
	cursor: pointer;
}

.holder{
	background-color: #165582;
    border-color: #459bd9;
    width: 100%;
    height: 310px;
    color: #fff;
    text-align: center;
}

.holder h1{
	position: relative;
	top: 20px;
}

.holder span{
	color: #e5e5e5;
	position: relative;
	top: 20px;
	font-size: 1.4em;
}

.scroll{
	height: 240px;
    padding-top: 5px;
    text-align: center;
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    position: relative;
    z-index: 10;
    white-space: nowrap;
    width: 50%;
    top: 50px;
}


.imesa{
	position: relative;
    display: block;
    font-size: 20px;
    height: 6.25em;
    width: 6em;
    background: transparent;
    display: inline-block;
    margin-left: 5px;
}

.imesa p{
	position: relative;
	color: #fff;
	z-index: 10;
	left: 5px;
	float: left;
	bottom: 40px;
	text-shadow: 1px 1px 1px rgba(0,0,0,.90);
}

.imesa img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.holder ul{
	height: 173px;
    padding-top: 5px;
    text-align: center;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    position: relative;
    z-index: 10;
    white-space: nowrap;
    transition: 1s;
}

.thumb{
	border-radius: 15px;
	position: relative;
	width: 100%;
	height: 100%;
}

.avatar{
	width: 50px;
    position: absolute;
    right: 80px;
    height: 50px;
    box-shadow: 0 4px 8px 0 rgba(43,102,79,0.55);
    bottom: 74px;
    border-radius: 15px;
    background: #151515;
}

.inte{
	width: 100%;
	background: #459bd9;
	height: 440px;
	position: relative;
}

#imgst{
	background-image: url(https://aminoapps.com/static/img/bubbles.svg);
	width: 720px;
	background-size: cover;
	height: 420px;
	float: left;
	position: absolute;
	top: 10px;
}

.sobre-inte{
	position: relative;
	right: 0px;
	top: 140px;
	left: 0;
	z-index: 30;
	margin: 0px auto;
	text-align: center;
}

.sobre-inte h1{
	color: #fff;
	font-size: 3em;
	padding: 5px;
}

.sobre-inte p{
	color: #fff;
	font-size: 1.9em;
	padding: 5px;
}

.account{
	width: 500px;
	height: auto;
	background: rgba(0,0,0,.80);
	z-index: 10;
	position: relative;
	border-radius: 15spx;
	top: 200px;
	padding-bottom: 50px;
}

.acc{
	background-image: url(/img/garrysmod.jpg);
	width: 100%;
	height: 100%;
	position: fixed;
	background-size: cover;
}

.form{
	position: relative;
	margin: 0px auto;
	text-align: center;
}

.form input{
	width: 92%;
	border: none;
	height: 30px;
	top: 0px;
	position: relative;
	padding-left: 10px;
	margin-top: 10px;
	border-radius: 20px;
}

.form .login{
	color: #fff;
	padding: 40px;
}

.btna{
	background: #459bd9;
    border-radius: 5px;
   	width: 140px;
    padding: 5px 0px;
}

.btna span{
	color: #fff;
	font-size: 1.7em;
	position: relative;
	top: 0px;
}

.btn-sa{
	background: #165582;
    box-shadow: 0 4px 8px 0 rgb(22, 85, 130);
    border-radius: 5px;
    width: 140px;
    height: 50px;
    position: relative;
    top: 20px;
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
}

.form .bat{
	color: #fff;
	top: 30px;
	position: relative;
	font-size: 1.2em;
}

#resposta{
	width: 100%;
	height: auto;
	color: #fff;
	background: #a42727;
	position: relative;
	top: 40px;
}

#resposta p{
	font-size: 1.4em;
}

.configure{
	width: 50%;
	margin: 0px auto;
	position: relative;
	height: 400px;
	background: #e7e7e7;
	top: 50px;
	border-radius: 3px;
}

.oia{
	background-image: url(https://images4.alphacoders.com/242/242556.png);
	width: 100%;
	height: 100%;
	position: fixed;
	background-size: cover;
}

.c1s{
	color: #151515;
	font-size: 1.4em;
	padding: 20px;
}

.profile-cap{
	width: 30%;
	height: 250px;
	background: #ffffff;
	position: static;
	float: right;
	right: 0;
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,.30);
}

.profile-cap p{
	font-size: 22px;
	position: relative;
	bottom: 30px;
}

.background-cap{
	width: 100%;
	height: 90px;
	background-size: cover;
	border-bottom: 2px solid #459bd9;
}

.avatar-cap{
	width: 90px;
	height: 90px;
	border-radius: 50%;
	position: relative;
	bottom: 40px;
	border: 2px solid #459bd9;
	background: #151515;
}

.bakero{
	font-size: 1.5em;
	bottom: 40px;
	position: relative;
}

.eto{
	color: #000;
}

.buscar{
	background-color: #f5f8fa;
    border-radius: 21px;
    border: 1px solid #e6ecf0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #14171a;
    display: block;
    font-size: 12px;
    height: 32px;
    line-height: 16px;
    padding: 8px 32px 8px 12px;
    transition: all .2s ease-in-out;
    width: 230px;
    float: right;
    right: 120px;
    position: absolute;
    top: 10px;
}

.buscar:focus{
	border: 2px solid #1a527b;
}

.buscarr{
	background-color: #f5f8fa;
    border-radius: 21px;
    border: 1px solid #555;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #14171a;
    font-size: 12px;
    height: 45px;
    line-height: 16px;
    padding: 8px 32px 8px 12px;
    transition: all .2s ease-in-out;
    width: 90%;
    right: 0px;
    position: relative;
    top: 10px;
    left: 15px;
}

.buscarr:focus{
	border: 2px solid #459bd9;
}

.notice{
	width: 100%;
	height: 40px;
	background: #ffffff;
	position: relative;
	top: 60px;
	border-radius: 2px;
	text-align: center;
	float: left;
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,.30);
}

#what{
	display: block;
	padding: 50px;
	width: 100%;
	height: 20px;
}

.notice p{
	font-size: 1.4em;
	position: relative;
	top: 5px;
	color: #4e4e4e;
}

.avatar-t{
	float: left;
	position: relative;
	background: #000;
	width: 32px;
	height: 32px;
	border-radius: 10px;
	top: 6px;
	cursor: pointer;
}

.main{
	width: 100%;
	height: 200px;
	position: relative;
	left: 0;
	float: left;
	top: 90px;
	margin-top: 20px;
}

.public{
	width: 88%;
	height: 60px;
	border: none;
	resize: none;
	top: 5px;
	background: transparent;
	position: relative;
	float: left;
	left: 90px;
	z-index: 10;
	font-size: 1.1em;
}

.publicar{
	width: 65%;
	background: #ffffff;
	height: 101px;
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,.30);
	position: relative;
	float: left;
	bottom: 359px;
}

.kaway{
	position: relative;
	bottom: 200px;
}

.avatar-post{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: #151515;
}

.ava-t-e{
	height: 45px;
	width: 45px;
	position: absolute;
	top: -330px;
	left: 20px;
	float: left;
	border-radius: 50%;
}


.preto{
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(0,0,0,.50);
	z-index: 4000;
	left: 0;
	top: 0;
}

.preto2{
	width: 100%;
	height: 50px;
	position: fixed;
	background: rgba(0,0,0,.50);
	z-index: 6000;
	left: 0;
	top: 0;
}

.track1{
	width: 300px;
    height: auto;
    background: #459bd9;
    top: 53px;
    left: 0px;
    padding: 20px;
    position: relative;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,.30);
    border-radius: 5px;
    color: #fff;
}

.track2{
	width: 300px;
	height: auto;
	background: #459bd9;
	top: 234px;
	padding: 20px;
	position: relative;
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,.30);
	border-radius: 5px;
	float: right;
	display: none;
	right: 0px;
	color: #fff;
}

.track3{
	width: 270px;
    height: auto;
    background: #459bd9;
    top: -100px;
    padding: 20px;
    position: absolute;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,.30);
    border-radius: 5px;
    display: none;
    right: 50px;
    float: right;
    color: #fff;
}

#nanituto{
	opacity: 62000000;
}

.track4{
	width: 270px;
	height: auto;
	background: #459bd9;
	top: 0px;
	padding: 20px;
	position: absolute;
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,.30);
	border-radius: 5px;
	display: none;
	right: 170px;
	float: right;
	color: #fff;
}

.track{
	z-index: 10000;
	position: fixed;
	height: 100%;
	width: 60%;
	color: #111;
}

.btnb{
	background: #da5173;
    border-radius: 5px;
   	width: 140px;
    padding: 5px 0px;
}

.btnb span{
	color: #fff;
	font-size: 1.7em;
	position: relative;
	top: 0px;
	left: 8px;
}

.btn-sb{
	background: #922641;
    box-shadow: 0 4px 8px 0 rgba(43,102,79,0.55);
    border-radius: 5px;
    width: 140px;
    height: 50px;
    position: relative;
    top: 15px;
    display: inline-block;
    float: right;
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,.30);
}

#box-s-h{
	position: relative;
	left: 200px;
	height: auto;
	width: auto;
	top: 6px;
}

#box-s-ht{
	position: fixed;
	height: auto;
	width: 100%;
	bottom: 40px;
	z-index: 500000;
}


.src{
	height: auto;
	float: right;
	width: 270px;
	right: 300px;
	top: 15px;
	background: #459bd9;
	padding-bottom: 0px;
	position: absolute;
}

.srcc{
	height: auto;
	position: fixed;
	bottom: 55px;
	width: 100%;
	background: #459bd9;
	padding-bottom: 0px;
	z-index: 5000;
	box-shadow: 1px 1px 1px rgba(0,0,0,.50);
}

.srcc .buscaright{
	width: 103%;
	z-index: 5000;
}


#maiss{
	color: #fff;
}

.avatar6{
	width: 29px;
	height: 29px;
	border-radius: 50%;
	float: left;
	left: 5px;
	position: relative;
}

.buscaright{
	position: relative;
	float: left;
	left: -40px;
	background: #fff;
	width: 310px;
	margin-top: 0px;
	transition: 0.4s;
	padding-bottom: 10px;
	padding-top: 10px;
	bottom: 2px;
}

.buscaright:hover{
	background: #e5e5e5;
}

.name p{
	position: relative;
	top: 5px;
	left: 20px;
}

.eoq{
	color: #000 !important;
}

.maiss{
	text-align: center;
	position: relative;
}

#baka{
	color: #000;
}


.cont-d{
	font-size: 1.1em;
	position: relative;
	left: 2px;
	word-wrap: break-word;
}

.postagens{
	width: 63%;
	height: auto;
	background: #fff;
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,.30);
	float: left;
	position: relative;
	left: 0px;
	margin-left: 0px;
	margin-top: 35px;
	top: -300px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 20px;
}

.postagenst{
	width: 100%;
	height: auto;
	background: #fff;
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,.30);
	float: left;
	position: relative;
	left: 0px;
	margin-left: 0px;
	margin-top: 35px;
	top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 20px;
}

.btnc{
	background: #fff;
    border-radius: 5px;
   	width: 140px;
    padding: 5px 0px;
}

.btnc span{
	color: #555;
	font-size: 1.7em;
	position: relative;
	top: 0px;
	left: 8px;
}

.btn-sc{
	background: #cacaca;
    box-shadow: 0 4px 8px 1px #7f7b7b;
    border-radius: 5px;
    width: 140px;
    height: 50px;
    position: absolute;
    top: 75px;
    display: inline-block;
    float: right;
    right: 9px;
    cursor: pointer;
    z-index: 50;
}

.msg{
	width: 270px;
	height: auto;
	background: #fff;
	padding: 20px;
	position: relative;
	box-shadow: 2px 1px 2px 3px rgba(0,0,0,.30);
	border-radius: 5px;
	top: 50px;
	font-size: 1.2em;
}

.bakat{
	position: fixed;
	background: rgba(0,0,0,.50);
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 10000000;
	display: none;
}

.btnd{
	background: #fff;
    border-radius: 5px;
   	width: 70px;
    padding: 5px 0px;
}

.btnd span{
	color: #555;
	font-size: 1.1em;
	position: relative;
	top: 0px;
	left: 0px;
}

.btn-sd{
	background: #cacaca;
    box-shadow: 0 4px 8px 1px #7f7b7b;
    border-radius: 5px;
    width: 70px;
    height: 42px;
    position: absolute;
    top: 60px;
    display: inline-block;
    float: right;
    right: 15px;
    cursor: pointer;
    z-index: 50;
}

.bakeero{
	font-size: 20px;
	text-align: center;
	top: 10px;
	position: relative;
}

.postagens a{
	color: #000;
}

.postagens a:hover{
	text-decoration: underline;
}

.down-e{
	float: right;
	position: relative;
	top: 45px;
	cursor: pointer;
}

.down-e svg{
	position: relative;
	top: -23px;
	float: right;
	right: 25px;
	z-index: 50000000;
}

.menu{
	float: right;
	position: relative;
	width: 150px;
	height: auto;
	padding-bottom: 10px;
	background: #fff;
	top: 50px;
	box-shadow: 0 4px 8px 1px #7f7b7b;
	left: 75px;
	text-align: center;
	display: none;
}

.menu li{
	font-size: 1.1em;
	position: relative;
	top: 5px;
	cursor: pointer;
	transition: 0.3s;
	padding-bottom: 5px;
	padding-top: 5px;
}

.menu li:hover{
	background: #e5e5e5;
}

.menu a{
	color: #000 !important;
}

.avatar-i{
	width: 120px;
	height: 120px;
	border-radius: 50%;
	position: relative;
	bottom: 20px;
}

#eto51{
	color: #fff !important;
	position: relative;
	bottom: 10px;
	font-size: 1.7em;
}

#emoticon{
	width: 24px;
	height: 24px;
}

.fixada{
	float: right;
	position: relative;
	right: 10px;
	top: 10px;
}

#cont{
	font-size: 1.1em;
	position: relative;
	top: 65px;
	height: 10px;
}

#cont2{
	font-size: 1.1em;
	position: relative;
	margin-top: 0px;
	padding: s0px;
	top: 55px;
	height: 10px;
}

#fallenl{
	box-shadow: 0 4px 8px 1px #459bd930 !important;
	padding-bottom: 0px;
}

.post-bottom{
	width: 100%;
	height: 54px;
	position: relative;
	top: 26px;
	border-top: 1px solid #e5e5e5;
}

.ativolike{
	background-position: 0 -173px !important;
}

.comentarios{
	width: 100%;
	height: auto;
	background: #fff;
	position: relative;
	border-top: 1px solid #e5e5e5;
	display: none;
}

.cont-e{
	font-size: 1.2em;
	position: relative;
	left: 25px;
	bottom: 15px;
	border-bottom: 1px solid #e5e5e5;
	padding: 10px;
	word-wrap: break-word;
}

.ava-t-sd{
	height: 29px;
	width: 29px;
	position: relative;
	top: 2px;
	left: -4px;
	float: left;
	border-radius: 50%;
	cursor: pointer;
	z-index: 20;
*{
	font-family: 'Ubuntu', sans-serif;
	outline: none;
	list-style:none;
	margin: 0px auto;  }
	a{   text-decoration: none;
	color: #459bd9;  }    ::
	-webkit-scrollbar-track {      background-color: transparent;  }  ::
	-webkit-scrollbar {      width: 10px;
	background: transparent;  }  ::
	-webkit-scrollbar-thumb {      background: #459bd9;
	border-radius: 40px;  }
	body{   background: #e9ebee !important;  }
	header{   background: #459bd9;
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	height: 50px;
	z-index: 50000;  }
	header #logo{   color: #fff;
	font-size: 1.6em;
	position: relative;
	top: 10px;
	width: 100px;
	float: left;
	left: 10px;  }
	#logot{
	position: relative;
	color: #459bd9;
	font-size: 4.9em;
	text-align: center;
	z-index: 40;
	bottom: -20px;
	left: 70px;
	text-shadow: 1px 1px 1px rgba(0,0,0,.30);   }    #alinhar-h{
	width: 60%;
	margin: 0px auto;
	position: relative;
	background: transparent;  }    .apresentation{
	width: 100%;
	height: 430px;
	position: relative;
	background-size: cover;
	background-image: url(http://wallpapersfan.com/wp-content/uploads/2017/12/229914-www.wallpapersfan.com-1024x768.jpg);
	padding-bottom: 20px;  }    .naruto{
	position: relative;
	width: 120px;
	top: 200px;  }    .piece{
	position: relative;
	width: 120px;
	top: 200px;
	float: right;  }    .boku{
	position: relative;
	width: 120px;
	top: 200px;  }    .btn{
	background: #459bd9;
	border-radius: 5px;
	width: 162px;
	padding: 10px 0px;  }    .btn
	span{   color: #fff;
	font-size: 1.7em;
	position: relative;
	top: 0px;  }    .btn-s{
	background: #1ead75;
	box-shadow: 0 4px 8px 0 rgba(43,102,79,0.55);
	border-radius: 5px;
	width: 162px;
	height: 61px;
	position: relative;
	top: 120px;
	display: inline-block;
	margin-left: 10px;
	cursor: pointer;  }    .holder{
	background-color: #009DF8;
	border-color: #459bd9;
	width: 100%;
	height: 400px;
	color: #fff;
	text-align: center;  }    .holder
	h1{   position: relative;
	top: 20px;  }    .holder
	span{   color: #e5e5e5;
	position: relative;
	top: 20px;
	font-size: 1.4em;  }    .scroll{
	height: 240px;
	padding-top: 5px;
	text-align: center;
	overflow-x: hidden;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	position: relative;
	z-index: 10;
	white-space: nowrap;
	width: 50%;
	top: 50px;  }      .imesa{
	position: relative;
	display: block;
	font-size: 20px;
	height: 6.25em;
	width: 6em;
	background: #009DF8;
	display: inline-block;
	border-radius: 50%;
	margin-left: 5px;  }    .imesa
	p{   position: relative;
	color: #fff;
	z-index: 10;
	left: 5px;
	float: left;
	bottom: 40px;
	text-shadow: 1px 1px 1px rgba(0,0,0,.90);  }    .imesa
	img{   width: 100%;
	height: 100%;
	border-radius: 50%;  }    .holder
	ul{   height: 173px;
	padding-top: 5px;
	text-align: center;
	overflow-x: auto;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	position: relative;
	z-index: 10;
	white-space: nowrap;
	transition: 1s;  }    .thumb{
	border-radius: 15px;
	position: relative;
	width: 100%;
	height: 100%;  }    .avatar{
	width: 50px;
	position: absolute;
	right: 80px;
	height: 50px;
	box-shadow: 0 4px 8px 0 rgba(43,102,79,0.55);
	bottom: 74px;
	border-radius: 15px;  }    .inte{
	width: 100%;
	background: #01D3DD;
	height: 440px;
	position: relative;  }    #imgst{
	background-image: url(https://aminoapps.com/static/img/bubbles.svg);
	width: 720px;
	background-size: cover;
	height: 420px;
	float: left;
	position: absolute;
	top: 10px;  }    .sobre-inte{
	position: relative;
	right: 0px;
	top: 140px;
	left: 0;
	z-index: 30;
	margin: 0px auto;
	text-align: center;  }    .sobre-inte
	h1{   color: #fff;
	font-size: 3em;
	padding: 5px;  }    .sobre-inte
	p{   color: #fff;
	font-size: 1.9em;
	padding: 5px;  }    .account{
	width: 500px;
	height: auto;
	background: rgba(0,0,0,.80);
	z-index: 10;
	position: relative;
	border-radius: 15spx;
	top: 200px;
	padding-bottom: 50px;  }    .acc{
	background-image: url(https://images4.alphacoders.com/242/242556.png);
	width: 100%;
	height: 100%;
	position: fixed;
	background-size: cover;  }    .form{
	position: relative;
	margin: 0px auto;
	text-align: center;  }    .form
	input{   width: 92%;
	border: none;
	height: 30px;
	top: 0px;
	position: relative;
	padding-left: 10px;
	margin-top: 10px;
	border-radius: 20px;  }    .form .login{
	color: #fff;
	padding: 40px;  }    .btna{
	background: #459bd9;
	border-radius: 5px;
	width: 140px;
	padding: 5px 0px;  }    .btna
	span{   color: #fff;
	font-size: 1.7em;
	position: relative;
	top: 0px;  }    .btn-sa{
	background: #1ead75;
	box-shadow: 0 4px 8px 0 rgba(43,102,79,0.55);
	border-radius: 5px;
	width: 140px;
	height: 50px;
	position: relative;
	top: 20px;
	display: inline-block;
	margin-left: 10px;
	cursor: pointer;  }    .form .bat{
	color: #fff;
	top: 30px;
	position: relative;
	font-size: 1.2em;  }    #resposta{
	width: 100%;
	height: auto;
	color: #fff;
	background: #a42727;
	position: relative;
	top: 40px;  }    #resposta
	p{   font-size: 1.4em;  }    .configure{
	width: 50%;
	margin: 0px auto;
	position: relative;
	height: 400px;
	background: #e7e7e7;
	top: 50px;
	border-radius: 3px;  }    .oia{
	background-image: url(https://images4.alphacoders.com/242/242556.png);
	width: 100%;
	height: 100%;
	position: fixed;
	background-size: cover;  }    .c1s{
	color: #151515;
	font-size: 1.4em;
	padding: 20px;  }    .profile-cap{
	width: 24%;
	height: 200px;
	background: #ffffff;
	position: relative;
	top: 70px;
	float: right;
	right: 0;
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,.30);  }    .background-cap{
	width: 100%;
	height: 90px;
	background-size: cover;
	border-bottom: 2px solid #459bd9;  }    .avatar-cap{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	position: relative;
	bottom: 35px;
	border: 1px solid #459bd9;  }    .bakero{
	font-size: 1.5em;
	bottom: 20px;
	position: relative;  }    .eto{
	color: #000;  }    .buscar{
	border: none;
	height: 30px;
	padding-left: 10px;
	width: 300px;
	position: relative;
	left: 100px;
	top: 10px;  }    .notice{
	width: 100%;
	height: 40px;
	background: #ffffff;
	position: relative;
	top: 60px;
	border-radius: 2px;
	text-align: center;
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,.30);  }    .notice
	p{   font-size: 1.4em;
	position: relative;
	top: 5px;
	color: #4e4e4e;  }    .avatar-t{
	float: left;
	position: relative;
	background: #000;
	width: 32px;
	height: 32px;
	border-radius: 10px;
	top: 6px;
	cursor: pointer;  }    .main{
	width: 75%;
	height: 200px;
	position: relative;
	left: 0;
	float: left;
	top: 50px;
	margin-top: 20px;  }    .public{
	width: 88%;
	height: 60px;
	border: none;
	resize: none;
	top: 5px;
	background: transparent;
	position: relative;
	float: left;
	left: 90px;
	z-index: 10;
	font-size: 1.1em;  }    .publicar{
	width: 99%;
	background: #ffffff;
	height: 101px;
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,.30);
	position: relative;  }    .avatar-post{
	width: 100%;
	height: 100%;
	border-radius: 50%;  }    .ava-t-e{
	height: 45px;
	width: 45px;
	position: absolute;
	top: 20px;
	left: 20px;
	float: left;
	border-radius: 50%;  }      .preto{
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(0,0,0,.50);
	z-index: 6000;
	left: 0;
	top: 0;  }    .preto2{
	width: 100%;
	height: 50px;
	position: fixed;
	background: rgba(0,0,0,.50);
	z-index: 6000;
	left: 0;
	top: 0;  }    .track1{
	width: 300px;
	height: auto;
	background: #459bd9;
	top: 140px;
	left: 100px;
	padding: 20px;
	position: relative;
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,.30);
	border-radius: 5px;  }    .track2{
	width: 300px;
	height: auto;
	background: #459bd9;
	top: 278px;
	padding: 20px;
	position: relative;
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,.30);
	border-radius: 5px;
	float: right;
	display: none;
	right: 0px;  }    .track3{
	width: 270px;
	height: auto;
	background: #459bd9;
	top: 0px;
	padding: 20px;
	position: absolute;
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,.30);
	border-radius: 5px;
	display: none;
	left: 200px;
	float: left;  }    .track4{
	width: 270px;
	height: auto;
	background: #459bd9;
	top: 0px;
	padding: 20px;
	position: absolute;
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,.30);
	border-radius: 5px;
	display: none;
	right: 170px;
	float: right;  }    .track{
	z-index: 10000;
	position: fixed;
	height: 100%;
	width: 60%;
	color: #111;  }    .btnb{
	background: #459bd9;
	border-radius: 5px;
	width: 140px;
	padding: 5px 0px;  }    .btnb
	span{   color: #fff;
	font-size: 1.7em;
	position: relative;
	top: 0px;
	left: 8px;  }    .btn-sb{
	background: #1ead75;
	box-shadow: 0 4px 8px 0 rgba(43,102,79,0.55);
	border-radius: 5px;
	width: 140px;
	height: 50px;
	position: relative;
	top: 15px;
	display: inline-block;
	float: right;
	cursor: pointer;
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,.30);  }    #box-s-h{
	position: relative;
	left: 200px;
	height: auto;
	width: auto;
	top: 6px;  }    .src{
	height: auto;
	float: left;
	width: 270px;
	background: #459bd9;
	padding-bottom: 0px;  }    .avatar6{
	width: 29px;
	height: 29px;
	border-radius: 50%;
	float: left;
	left: 5px;
	position: relative;  }    .buscaright{
	position: relative;
	float: left;
	left: -40px;
	background: #fff;
	width: 310px;
	margin-top: 0px;
	transition: 0.4s;
	padding-bottom: 10px;
	padding-top: 10px;
	bottom: 2px;  }    .buscaright:hover{
	background: #e5e5e5;  }    .name
	p{   position: relative;
	top: 5px;
	left: 20px;  }    .eoq{
	color: #000 !important;  }    .maiss{
	text-align: center;
	position: relative;  }    #baka{
	color: #000;  }      .cont-d{
	font-size: 1.1em;
	position: relative;
	left: 2px;
	word-wrap: break-word;  }    .postagens{
	width: 97%;
	height: auto;
	background: #f5f5f5;
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,.30);
	float: left;
	position: relative;
	left: 0px;
	margin-left: 0px;
	margin-top: 35px;
	top: 50px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 20px;  }    .btnc{
	background: #fff;
	border-radius: 5px;
	width: 140px;
	padding: 5px 0px;  }    .btnc
	span{   color: #555;
	font-size: 1.7em;
	position: relative;
	top: 0px;
	left: 8px;  }    .btn-sc{
	background: #cacaca;
	box-shadow: 0 4px 8px 1px #7f7b7b;
	border-radius: 5px;
	width: 140px;
	height: 50px;
	position: absolute;
	top: 75px;
	display: inline-block;
	float: right;
	right: 9px;
	cursor: pointer;
	z-index: 50;  }    .msg{
	width: 270px;
	height: auto;
	background: #fff;
	padding: 20px;
	position: relative;
	box-shadow: 2px 1px 2px 3px rgba(0,0,0,.30);
	border-radius: 5px;
	top: 50px;
	font-size: 1.2em;  }    .bakat{
	position: fixed;
	background: rgba(0,0,0,.50);
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 7000;
	display: none;  }    .btnd{
	background: #fff;
	border-radius: 5px;
	width: 70px;
	padding: 5px 0px;  }    .btnd
	span{   color: #555;
	font-size: 1.1em;
	position: relative;
	top: 0px;
	left: 0px;  }    .btn-sd{
	background: #cacaca;
	box-shadow: 0 4px 8px 1px #7f7b7b;
	border-radius: 5px;
	width: 70px;
	height: 42px;
	position: absolute;
	top: 60px;
	display: inline-block;
	float: right;
	right: 15px;
	cursor: pointer;
	z-index: 50;  }    .bakeero{
	font-size: 20px;
	text-align: center;
	top: 10px;
	position: relative;  }    .postagens
	a{   color: #000;  }    .postagens
	a:hover{   text-decoration: underline;  }    .down-e{
	float: right;
	position: relative;
	top: 15px;
	cursor: pointer;  }    .down-e
	svg{   position: relative;
	top: 2px;
	float: right;
	right: 25px;
	z-index: 50000000;  }    .menu{
	float: right;
	position: relative;
	width: 150px;
	height: auto;
	padding-bottom: 10px;
	background: #459bd9;
	top: 50px;
	box-shadow: 0 4px 8px 1px #7f7b7b;
	left: 75px;
	text-align: center;
	display: none;  }    .menu
	li{   font-size: 1.1em;
	position: relative;
	top: 5px;
	cursor: pointer;
	transition: 0.3s;
	padding-bottom: 5px;
	padding-top: 5px;  }    .menu
	li:hover{   background: #e5e5e5;  }    .menu
	a{   color: #000 !important;  }    .avatar-i{
	width: 120px;
	height: 120px;
	border-radius: 50%;
	position: relative;
	bottom: 20px;  }    #eto51{
	color: #fff !important;
	position: relative;
	bottom: 10px;
	font-size: 1.7em;  }    #emoticon{
	width: 24px;
	height: 24px;  }    .fixada{
	float: right;
	position: relative;
	right: 10px;
	top: 10px;  }    #cont{
	font-size: 1.1em;
	position: relative;
	top: 65px;
	height: 10px;  }    #cont2{
	font-size: 1.1em;
	position: relative;
	margin-top: 0px;
	padding: s0px;
	top: 55px;
	height: 10px;  }    #fallenl{
	box-shadow: 0 4px 8px 1px #459bd930 !important;
	padding-bottom: 0px;  }    .post-bottom{
	width: 100%;
	height: 54px;
	position: relative;
	top: 26px;
	border-top: 1px solid #e5e5e5;  }    .ativolike{
	background-position: 0 -173px !important;  }    .comentarios{
	width: 100%;
	height: auto;
	background: #fff;
	position: relative;
	border-top: 1px solid #e5e5e5;
	display: none;  }    .cont-e{
	font-size: 1.2em;
	position: relative;
	left: 25px;
	bottom: 15px;
	border-bottom: 1px solid #e5e5e5;
	padding: 10px;
	word-wrap: break-word;  }    .ava-t-sd{
	height: 29px;
	width: 29px;
	position: relative;
	top: 2px;
	left: -4px;
	float: left;
	border-radius: 50%;
	cursor: pointer;
	z-index: 20;  }    .helloe{
	width: 81%;
	border: none;
	height: 40px;
	padding-left: 50px;
	font-size: 1.1em;
	float: left;
	left: -28px;
	position: relative;
	border-radius: 40px;
	border: 1px solid rgba(0,0,0,.20);  }    .coment{
	background: #e9e9e9;
	height: auto;
	border-radius: 40px;
	padding: 2px;
	width: auto;
	margin-top: 10px;  }      .name-post{
	font-size: 1em;
	position: relative;
	padding: 8px;
	left: 1px;
	color: #459bd9;  }    .taber{
	background: #fff;
	padding: 5px;
	padding-bottom: 25px;
	padding-top: 20px;  }    .name-poster{
	font-size: 1.1em;
	position: relative;
	padding: 30px;
	left: 45px;  }    .ava-t-sde{
	height: 33px;
	width: 33px;
	position: relative;
	top: 5px;
	left: 15px;
	float: left;
	border-radius: 50%;
	z-index: 50;  }    .commentpostiduq{
	top: 0;
	left: 0px;
	position: relative;
	color: #000 !important;
	font-family: inherit !important;
	word-wrap: break-word;  }    .btnt{
	float: right;
	border: none;
	background: #fff;
	border: 1px solid rgba(0,0,0,.20);
	border: 1px solid rgba(0,0,0,.20);
	position: relative;
	top: -44px;
	width: 100px;
	right: 20px;
	padding: 4px;
	height: 44px;
	border-radius: 0px;
	font-size: 15px;
	cursor: pointer;
	z-index: 50;  }    #fuck{
	top: -2px !important;
	position: relative;  }    .eooqsa{
	position: relative;
	top: 20px;  }    .help{
	width: 400px;
	height: 255px;
	position: relative;
	left: 13px;
	background-image: url(/static/img/post/ajuda.png);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: 0 0px;  }    .ajuda{
	text-align: center;
	color: #151515;
	font-size: 1em;
	padding: 10px;  }    .scrollamigo{
	height: 240px;
	padding-top: 5px;
	text-align: center;
	overflow-x: auto;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	position: relative;
	z-index: 10;
	white-space: nowrap;
	width: 100%;
	top: 10px;  }    .sugerido{
	height: 170px !important;  }    .sugerido
	h1{   font-size: 20px;
	padding: 3px;  }    .imesa
	p{   font-size: 19px;
	top: -30px;
	text-shadow: 2px 2px 3px #000;
	border-radius: 50%;  }    .sugerido
	a{   text-decoration: none;  }    .sugerido
	a:hover{   text-decoration: none;  }    .bakerooo{
	left: -40px;
	position: relative;  }    .nani-h{
	width: 100%;
	height: 270px;
	background: #fff;
	position: relative;
	top: 50px;
	box-shadow: 0 4px 8px 1px rgba(0,0,0,.10);  }    .wow{
	width: 100%;
	height: 270px;
	background-image: urL("/img/back.jpg");
	background-size: cover;  }    .profilephoto{
	height: 130px !important;
	width: 130px !important;
	position: relative;
	bottom: 180px;
	box-shadow: 0 4px 8px 1px rgba(0,0,0,.80);
	border-radius: 50%;  }    .profilephoto
	img{   height: 100% !important;
	width: 100% !important;  }    .name-batito{
	position: relative;
	top: -180px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,.60);  }    .semlogin{
	text-align: center;  }    .semlogin
	h1{   padding: 10px;
	font-size: 28px;
	top: 10px;
	position: relative;  }    .lgren{
	color: #459bd9 !important;  }    .comunidade{
	width: 100%;
	height: 200px;
	top: 50px;
	position: relative;  }    .criando{
	padding-bottom: 10px;
	font-size: 18px;
	color: #162643;  }    .gostat{
	padding-left: 0px;
	color: #90949c;
	font-size: 15px;  }    .body{
	padding: 50px;  }    .botoes-select{
	height: 250px;
	width: 250px;
	background: #f6f7f9;
	border: 5px solid #e9ebee;
	float: left;
	top: 30px;
	box-shadow: 0 4px 8px 1px rgba(0,0,0,.10);
	position: relative;
	text-align: center;
	transition: 1s;
	cursor: pointer;
	margin-left: 10px;  }    .botoes-select:hover{
	background: #e9ebee;
	border: 5px solid #f6f7f9;  }    .botoes-select
	p{   margin-top: 30px;
	font-size: 17px;  }    .entre{
	background-position: 0 -333px;
	background-image: url("/static/img/comunidade.png");
	margin-top: 50px;
	position: relative;
	height: 110px;
	width: 110px;  }    .artista{
	background-position: 0 0;
	background-image: url("/static/img/comunidade.png");
	margin-top: 50px;
	position: relative;
	height: 110px;
	width: 110px;  }    .branco{
	background: transparentg;
	position: relative;
	width: 60px;
	height: 50px;
	display: inline-block;
	top: -15px;  }    .track5{
	width: 270px;
	height: auto;
	background: #459bd9;
	top: 35px;
	padding: 20px;
	position: relative;
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,.30);
	border-radius: 5px;
	display: block;
	margin: 0px auto;  }    .eta{
	top: 2px !important;  }    .totallike{
	position: relative;
	bottom: 34px;
	font-size: 17px;
	z-index: 50;
	color: #459bd9;
	padding: 10px;  }
	box-shadow: 1px 1px 1px #000;
	box-shadow: 1px 1px 1px #e9e9e9;
}

.helloe{
	width: 93%;
	border: none;
	height: 40px;
	padding-left: 50px;
	font-size: 1.1em;
	float: left;
	left: 0px;
	position: relative;
	border-radius: 40px;
	border: 1px solid rgba(0,0,0,.20);
	bottom: 10px;
}

.coment{
	background: #e9e9e9;
	height: auto;
	border-radius: 40px;
	padding: 2px;
	width: auto;
	margin-top: 10px;
}


.name-post{
	font-size: 1em;
	position: relative;
	padding: 8px;
	left: 1px;
	color: #459bd9;
}

.taber{
	background: #fff;
	padding: 5px;
	padding-bottom: 25px;
	padding-top: 20px;
}

.name-poster{
	font-size: 1.1em;
	position: relative;
	padding: 30px;
	left: 45px;
}

.ava-t-sde{
	height: 33px;
	width: 33px;
	position: relative;
	top: 28px;
	left: 15px;
	float: left;
	border-radius: 50%;
	z-index: 50;
}

.commentpostiduq{
	top: 0;
	left: 0px;
	position: relative;
	color: #000 !important;
	font-family: inherit !important;
	word-wrap: break-word;
}

.btnt{
	float: right;
	border: none;
	background: #fff;
	border: 1px solid rgba(0,0,0,.20);
	border: 1px solid rgba(0,0,0,.20);
	position: relative;
	top: -44px;
	width: 100px;
	right: 20px;
	padding: 4px;
	height: 44px;
	border-radius: 0px;
	font-size: 15px;
	cursor: pointer;
	z-index: 50;
	display: none;
}

#fuck{
	top: -2px !important;
	position: relative;
}

.eooqsa{
	position: relative;
	top: 20px;
}

.help{
  width: 400px;
  height: 255px;
  position: relative;
  left: 13px;
  background-image: url(/static/img/post/ajuda.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 0px;
}

.ajuda{
	text-align: center;
	color: #151515;
	font-size: 1em;
	padding: 10px;
}

.scrollamigo{
	height: 143px;
    padding-top: 5px;
    text-align: center;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    position: relative;
    z-index: 10;
    white-space: nowrap;
    width: 100%;
    top: 10px;
}

.sugerido{
	height: 170px !important;
}

.sugerido h1{
	font-size: 20px;
	padding: 3px;
}

.imesa p{
	font-size: 19px;
	top: -30px;
	text-shadow: 2px 2px 3px #000;
	border-radius: 50%;
}

.sugerido a{
	text-decoration: none;
}

.sugerido a:hover{
	text-decoration: none;
}

.bakerooo{
	left: -40px;
	position: relative;
}

.nani-h{
	width: 100%;
	height: 270px;
	background: #fff;
	position: relative;
	top: 50px;
	box-shadow: 0 4px 8px 1px rgba(0,0,0,.10);
}

.wow{
	width: 100%;
	height: 270px;
	background-image: urL("/img/back.jpg");
	background-size: cover;
}

.profilephoto{
	height: 130px !important;
	width: 130px !important;
	position: relative;
	bottom: 180px;
	box-shadow: 0 4px 8px 1px rgba(0,0,0,.80);
	border-radius: 50%;
}

.profilephoto img{
	height: 100% !important;
	width: 100% !important;
}

.name-batito{
	position: relative;
	top: -234px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,.60);
	z-index: 60;
}

.semlogin{
	text-align: center;
}

.semlogin h1{
	padding: 10px;
	font-size: 28px;
	top: 10px;
	position: relative;
}

.lgren{
	color: #459bd9 !important;
}

.comunidade{
	width: 100%;
	height: 200px;
	top: 50px;
	position: relative;
}

.criando{
	padding-bottom: 10px;
	font-size: 18px;
	color: #162643;
}

.gostat{
	padding-left: 0px;
	color: #90949c;
	font-size: 15px;
}

.body{
	padding: 50px;
}

.botoes-select{
	height: 250px;
	width: 250px;
	background: #f6f7f9;
	border: 5px solid #e9ebee;
	float: left;
	top: 30px;
	box-shadow: 0 4px 8px 1px rgba(0,0,0,.10);
	position: relative;
	text-align: center;
	transition: 1s;
	cursor: pointer;
	margin-left: 10px;
}

.botoes-select:hover{
	background: #e9ebee;
	border: 5px solid #f6f7f9;
}

.botoes-select p{
	margin-top: 30px;
	font-size: 17px;
}

.entre{
	background-position: 0 -333px;
	background-image: url("/static/img/comunidade.png");
	margin-top: 50px;
	position: relative;
	height: 110px;
	width: 110px;
}

.artista{
	background-position: 0 0;
	background-image: url("/static/img/comunidade.png");
	margin-top: 50px;
	position: relative;
	height: 110px;
	width: 110px;
}

.branco{
	background: transparent;
	position: relative;
	width: 60px;
	height: 50px;
	display: inline-block;
	top: -40px;
}

.track5{
	width: 270px;
	height: auto;
	background: #459bd9;
	top: 35px;
	padding: 20px;
	position: relative;
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,.30);
	border-radius: 5px;
	display: block;
	margin: 0px auto;
	color: #fff;
}

.eta{
	top: 2px !important;
}

.totallike{
	position: relative;
    bottom: 34px;
    font-size: 17px;
    z-index: 50;
    color: #484848;
    padding: 10px;
    left: -10px;
}

.about-t{
	position: absolute;
	background: rgba(0,0,0,.50);
	width: 100%;
	height: auto;
	bottom: 167px;
	z-index: 50;
	padding-top: 4px;
	padding-bottom: 4px;
}

.about-t button{
	height: 100%;
	border: none;
	cursor: pointer;
	background: #459bd9;
	color: #fff;
	transition: 1s;
	padding: 10px;
	border-radius: 20px;
	position: relative;
	box-shadow: 1px 1px 1px rgba(0,0,0,.50);
	margin-left: 10px;
	float: right;
	right: 10px;
}

.about-t button:hover{
	padding: 14px;
}

#news{
	float: left;
	left: 150px;
	position: absolute;
	top: 32px;
	color: #fff;
	fill: #fff;
}

#news li{
	position: relative;
    top: -24px;
    border: none;
    width: 130px;
    height: 20px;
    cursor: pointer;
    background: #fff;
    padding: 10px;
    background-color: transparent;
    transition: 1s;
    border-bottom: 1px solid transparent;
    display: inline-block;
}

#news li p{
	position: absolute;
	bottom: 13px;
	left: 50px;
	font-size: 18px;
}

#news li svg{
	width: 40px;
	height: 25px;
	position: relative;
	top: -5px;
}

#news li:hover{
	fill: #3e5261;
	color: #3e5261;
	border-bottom: 2px solid #459bd9;
}

.newsnot{
	background: #3e5261;
	position: absolute;
	z-index: 100;
	width: auto;
	height: auto;
	color: #fff;
	left: 10px;
	padding: 2px;
	bottom: 20px;
	font-size: 15px;
}

#newsdiv{
	width: 300px;
	height: auto;
	background: #fff;
	float: left;
	position: relative;
	top: 50px;
	display: none;
	box-shadow: 1px 1px 1px rgba(0,0,0,.50);
	padding: 1px;
	overflow-y: auto;
	max-height: 250px;
	right: 40px;
	overflow-x: hidden;
}

#newsdiv li img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	top: 20px;
	left: 5px;
	position: relative;
}

#newsdiv li{
	width: 100%;
	transition: 1s;
	cursor: pointer;
}

#newsdiv li:hover{
	background: #e5e5e5;
}

#newsdiv li p{
	position: relative;
	top: -20px;
	font-size: 19px;
	left: 50px;
}

#newsdiv li span{
	left: 50px;
	position: relative;
	bottom: 10px;
}

#newsdiv2{
	width: 300px;
	height: auto;
	background: #fff;
	float: left;
	position: relative;
	top: 50px;
	display: none;
	right: 40px;
	box-shadow: 1px 1px 1px rgba(0,0,0,.50);
	padding: 1px;
	overflow-y: auto;
	max-height: 250px;
	overflow-x: hidden;
}

#newsdiv2 li img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	top: 20px;
	left: 5px;
	position: relative;
}

#newsdiv2 li{
	width: 100%;
	transition: 1s;
	cursor: pointer;
}

#newsdiv2 li:hover{
	background: #e5e5e5;
}

#newsdiv2 li p{
	position: relative;
	top: -20px;
	font-size: 19px;
	left: 50px;
}

#newsdiv2 li span{
	left: 50px;
	position: relative;
	bottom: 10px;
}

#nothing{
	text-align: center;
	position: relative;
	font-size: 18px;
}

#bottomphone{
	position: fixed;
	bottom: 0;
	left: 0;
	background: #fff;
	height: 60px;
	width: 100%;
	border-top: 1px solid rgba(0,0,0,0.25);
	z-index: 50000;
	display: none;
}

.chat{
	float: right;
	position: fixed;
	width: 200px;
	background: #fff;
	height: 100%;
	right: 0;
	z-index: 60000;
	border-left: 1px solid rgba(0,0,0,0.25);
}

.chater{
	width: 100%;
}

.chat span{
	padding: 5px;
}

.chater img{
	border-radius: 50%;
	width: 35px;
	height: 35px;
	position: relative;
	left: 10px;
	top: 10px;
}

.chater p{
	position: relative;
	left: 55px;
	bottom: 20px;
}

.chater li{
	transition: .4s;
	margin-top: 5px;
	cursor: pointer;
}

.chater li:hover{
	background: #e5e5e5;
}

.bottom{
	position: absolute;
	top: 0;
	border-bottom: 1px solid rgba(0,0,0,0.25);
	width: 100%;
	height: 30px;
	cursor: pointer;
}

.bottom p{
	padding: 5px;
}

.newchat{
	width: 250px;
	background: #fff;
	height: 270px;
	position: relative;
	bottom: 0;
	right: 220px;
	float: right;
	border: 1px solid rgba(0,0,0,0.25);
	z-index: 55000;
	display: inline-block;
	margin-left: 10px;
	transition: 1s;
}

#chatte{
	position: fixed;
	bottom: 0;
	float: right;
	right: 0;
	z-index: 55000;
}

.messenger{
	width: 100%;
	height: 100%;
	background: #fff;
	position: fixed;
	top: 50px;
	left: 0;
	transition: 1s;
}

#bottom-messenger{
	width: 100%;
	height: 50px;
	background: #eee;
	border-bottom: 1px solid rgba(0,0,0,0.25);
}

#left-messenger{
	width: 15%;
	height: 100%;
	position: relative;
	border-right: 1px solid rgba(0,0,0,0.25);
	float: left;
	background-color: #eee;
	z-index: 100;
}

#bottom-messenger p{
	text-align: center;
	font-size: 22px;
	padding: 10px;
}

#left-messenger span{
	padding: 5px;
}

#left-messenger li{
	margin-top: 3px;
	background: #fff;
	cursor: pointer;
	transition: 0.4s;
}

#left-messenger li:hover{
	background: #e9e9e9;
	box-shadow: 0px 1px rgba(0,0,0,.20);
}

#left-messenger li img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	top: 10px;
	position: relative;
}

#left-messenger li p{
	position: relative;
	left: 50px;
	bottom: 20px;
}

.msgter{
	width: 95%;
	background: #fff;
	position: fixed;
	left: 95px;
	height: 100%;
	left: 15.2%;
	z-index: 2000;
}

.leftbar{
	float: left;
	width: 84px;
	height: 100%;
	position: fixed;
	left: 0;
	background: #fff;
	z-index: 4000;
	top: 0;
	box-shadow: 0 0 8px rgba(0,0,0,.2);
	transition: 0.2s;
}

.covers{
	width: 100%;
	height: 150px;
	background-size: cover;
}

.leftbar .avatadr{
	border-radius: 50%;
	border: 2px solid #fff;
	width: 65px;
	height: 65px;
	position: relative;
	bottom: 30px;
	background: #151515;
	left: 10px;
}

.leftbar span{
	position: relative;
	bottom: 65px;
	left: 80px;
	font-size: 18px;
	display: none;
	transition: 1s;
}

#open55{
	fill: #fff;
	left: 20px;
	position: absolute;
	top: 10px;
	cursor: pointer;
	transition: 0.5s;
}

#open55:hover{
	fill: #3e5261;
}

#criacao{
	width: 400px;
	position: relative;
	height: auto;
	background: #fff;
	top: 150px;
	box-shadow: 1px 1px 1px rgba(0,0,0,.50);
	padding-bottom: 50px;
}

#criacao h1{
	padding: 20px;
	font-size: 24px;
}

#criacao p{
	padding: 20px;
	font-size: 20px;
}

#criacao span{
	padding: 20px;
	font-size: 19px;
}

#criacao input{
	border: none;
	position: relative;
	background: #eee;
	border: 1px solid #888;
	height: 30px;
	top: 20px;
	width: 350px;
	left: 20px;
	padding-left: 5px;
}

#nani{
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background: rgba(0,0,0,.50);
	z-index: 5000;
}

#resposta{
	width: 100%;
	background: red;
	height: auto;
	position: relative;
	top: 50px;
	font-size: 18px;
}

.profile-cap2{
	width: 30%;
	height: 180px;
	background: #ffffff;
	position: absolute;
	float: right;
	top: 400px;
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,.30);
	right: 0;
}

.profile-cap2 h1{
	font-size: 22px;
	padding: 5px;
}

.profile-cap2 img{
	width: 100%;
	height: 100%;
	white-space: nowrap;
}

.photocomu{
	width: 80px;
	height: 80px;
	position: relative;
	top: 20px;
	float: left;
	border: 4px solid #459bd9;
	display: inline-block;
	white-space: nowrap;
}


.profile-cap2 .lia{
	width: 100%;
	height: 130px;
	white-space: nowrap;
	position: relative;
	background: red;
	overflow-x: scroll;
    overflow-y: hidden;
}

.posta{
	width: 100%;
	height: auto;
	position: relative;
}

.about{
	position: relative;
	top: -167px;
}

#header-p{
	position: absolute;
	top: 0;
	width: 100%;
	height: 40px;
	background: #459bd9;
	z-index: 200;
}

#header-p li{
	color: #fff;
	padding: 10px;
	font-size: 18px;
	background: #296b9a;
	cursor: pointer;
	width: auto;
	margin-left: 1px;
	float: left;
	transition: 1s;
	z-index: 100;
}

#header-p li:hover{
	padding: 11px;
	background: #0b2d46;
}

#header-p .ativo{
	background: #0b2d46;
}

.feednot{
	background: #0d2742;
	position: relative;
	z-index: 100;
	width: auto;
	height: auto;
	color: #fff;
	float: right;
	right: -10px;
	padding: 2px;
	bottom: 16px;
	font-size: 15px;
}

.comentariosp{
	width: 50%;
	float: left;
	left: 0;
	position: absolute;
	height: 200px;
	background: transparent;
	bottom: 0;
}

#comentarii{
	width: 100%;
	height: 40px;
	background: #0b2d46b5;
	border-radius: 2px;
}

#comentarii p{
	padding: 10px;
	color: #fff;
	font-size: 18px;
}

.comentartt{
	width: 50%;
	height: 40.2%;
	position: absolute;
	bottom: 0;
	background: #0b2d46b5;
}

#background-p{
	width: 100%;
	position: fixed;
	top: 0;
	height: 100%;
	left: 0;
	background-image: url(/img/backgroundp.jpg);
	background-size: cover;
}

#background-t{
	width: 100%;
	position: fixed;
	top: 0;
	height: 100%;
	left: 0;
	background: rgba(0,0,0,.70);
}

#proezas{
	position: absolute;
	top: 0;
	width: 50%;
	height: 150px;
	background: #0b2d46b5;
	top: 49px;
	color: #fff;
}

#proezas p{
	padding: 5px;
	font-size: 19px;
}

#feed{
	float: right;
	position: absolute;
	right: 20px;
	width: 100%;
	top: 10px;
	overflow-y: auto;
	height: 650px;
	overflow-x: hidden;
}

#feed .postagens{
	position: relative;
	top: 5px;
	left: 0;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	left: 40px;
}

#feed ::-webkit-scrollbar-track {
    background-color: transparent;
}
#feed ::-webkit-scrollbar {
    width: 5px;
    height: 9px;
    background: transparent;
}
#feed ::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 40px;
}


.posta ::-webkit-scrollbar-track {
    background-color: transparent;
}
.posta ::-webkit-scrollbar {
    width: 5px;
    height: 9px;
    background: transparent;
}
.posta ::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 40px;
}

#editprofile{
	width: 100%;
	background: #eee;
	height: 500px;
	top: 40px;
	padding-bottom: 80px;
	position: relative;
	box-shadow: 1px 1px 1px rgba(0,0,0,.50);
}

#editprofile form{
	position: relative;
	margin: 0px auto;
}

#editprofile h1{
	position: relative;
	font-size: 27px;
	text-align: center;
}

.avatarja{
    position: relative;
    right: 80px;
    box-shadow: 0 4px 8px 0 rgba(43,102,79,0.55);
    border-radius: 15px;
    top: 40px;
    left: 0px;
   	width: 200px;
	height: 200px;
	background: #151515;
}

#fotop{
	position: relative;
	top: 40px;
}

#fotop #btn2{
	height: 100%;
	border: none;
	cursor: pointer;
	background: #1f4967;
	color: #fff;
	transition: 1s;
	padding: 10px;
	border-radius: 20px;
	position: relative;
	box-shadow: 1px 1px 1px rgba(0,0,0,.50);
	margin-left: 10px;
}

.fotografia{
	width: 200px;
	height: 200px;
	z-index: 50;
	position: relative;
	border: 2px solid #459bd9;
	background: #000;
	cursor: pointer;
}

.costa{
	position: absolute;
	width: 100%;
	height: 200px;
	background-size: cover;
	top: 0;
	z-index: 0;
	left: 0;
	border-bottom: 2px solid #459bd9;
}

#happyhour{
	z-index: 5000;
	position: fixed;
	bottom: 0;
}

.hourstimea{
	position: relative;
	float: left;
	z-index: 4500px;
	bottom: 0px;
	left: 40px;
}

.hourstimea img{
	width: 50px;
	height: 50px;
	position: relative;
	top: 20px;
	left: 5px;
	border-radius: 50%;
}

.hourstimea li{
	background: #eee;
	width: 300px;
	box-shadow: 1px 1px 1px rgba(0,0,0,.90);
	position: relative;
	left: 40px;
	margin-top: 20px;
	bottom: 40px;
}

.hourstimea li p{
	font-size: 18px;
	left: 70px;
	bottom: 40px;
	position: relative;
}

.hourstimea li span{
	font-size: 18px;
	left: 70px;
	bottom: 30px;
	position: relative;
}

#jogodavelha{
	width: 700px;
}

#jogodavelha .wowh{
	width: 200px;
	height: 150px;
	margin-top: 5px;
	margin-left: 5px;
	position: relative;
	top: 20px;
	font-size: 32px;
	background: #555;
	display: inline-block;
}

#jogodavelha .wowh p{
	position: absolute;
	left: 80px;
	font-size: 84px;
	color: #fff;
	top: 20px;
}

#jogodavelha h1{
	top: -20px;
	position: relative;
}

#verfoto{
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.50);
	top: 0;
	z-index: 99999999999999;
	display: none;
	left: 0;
}

.verfotografia{
	width: 50%;
	position: relative;
	margin: 0px auto;
	height: auto;
	background: #fff;
	top: 100px;
}

.mainp{
	width: 100%;
	height: auto;
	top: 50px;
	position: relative;
}

.mainp .peoples img{
	width: 130px;
	height: 130px;
	float: left;
	display: inline-block;
	position: relative;
	margin-top: 10px;
	margin-left: 5px;
	border-radius: 50%;
}

.mainp h1{
	font-size: 25px;
}

.addbutton{
	border: none;
	color: #fff;
	padding: 5px;
	background: #296b9a;
	position: relative;
	left: 50px;
	bottom: 10px;
	cursor: pointer;
}

#addbr{
	background: red;
}

#envitef{
	position: relative;
	background: #fff;
	margin: 0px auto;
	width: 50%;
	height: 200px;
	top: 100px;
	overflow-x: hidden;
	overflow-y: auto;
}

#envitef h1{
	padding: 10px;
	font-size: 23px;
}

#envitef img{
	width: 100px;
	height: 100px;
	float: left;
	display: inline-block;
	position: relative;
	margin-top: 10px;
	margin-left: 5px;
	border-radius: 50%;
	left: 10px;
	top: 10px;
}

#envitef h2{
	padding: 10px;
}

#closer{
	float: right;
	right: 10px;
	position: relative;
	font-size: 22px;
	top: 10px;
	cursor: pointer;
}